@import 'colors';

.nav-buttons {
    @media screen and (min-width: 1201px) {
        margin: 2rem;
    }
}

.nav-buttons > li {
    margin-bottom: 1rem;
    width: 100%;
    margin: 1rem 0px;

    @media screen and (min-width: 1201px) {
        width: 50%;
        margin: 1rem auto;
    }
}

.nav-buttons > li > a.btn {
    width: 100%;
}

.footer {
    color: #888888;
    font-size: 0.9rem;
    position: fixed;
    left: 50%;
    bottom: 0.5rem;
    transform: translate(-50%, -50%);
}

.quote-author {
    font-style: italic;
}


.video {
    width: 100%;
}

.avatar-container {
    float: left;
}

.avatar {
    width: 180px;
    height: 180px;
    border: 1px solid $grey-light;
    border-radius: 50%;
}

.about-list {
    list-style: none;
}
.emoji-bullet {
    font-size: 1.5rem;
    margin-right: 20px;
}



.life-grid {
    @media screen and (max-device-width : 480px) {
        width: 100%;
    }
    @media screen and (min-device-width : 481px) {
        float: right;
        width: 75%;
    }
    margin-bottom: 2rem;
}

.life-grid-row {
    clear: left;
}

.life-grid-cell {
    float: left;
    @media screen and (max-device-width : 480px) {
        height: 12px;
        width: 12px;
    }
    @media screen and (min-device-width : 481px) {
        height: 20px;
        width: 20px;
    }

    border: 1px solid $grey-light;
    background-color: $grey-vlight;
    border-radius: 50%;
    margin: 1px;
}

.alive {
    background-color: $alive;
}

.game-controls {
    width: 20%;
    margin-right: 1rem;
    @media screen and (max-device-width : 480px) {
      width: 95%;
    }
    @media screen and (min-device-width : 481px) {
        float: left;
    }
}

.game-controls > input {
    line-height: 1.5rem;
    border: 1px solid $grey-light;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    box-shadow: inset 1px 1px 3px 1px $grey-vlight;
}

.game-controls > label {
    font-size: 0.8rem;
}

.text-data {

    margin-bottom: 0.6rem;
}

img.avatar-lg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid $black;
    border-radius: 50%;
}

.project-list {
    list-style: none;
}

.project-list li {
    margin-bottom: 0.5rem;
}

.project-list li a {
    text-decoration: underline;
    color: $blue;

    &:hover {
        color: $blue-less;
    }
}

.cube-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.cube-img-container {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.cube-img {
    width: 200px;
}

.cube-algo-container {
    margin: 1rem;
    min-height: 3rem;
}

